################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mvc5Application1
/Mvc5Application1.Business/obj/Debug
/Mvc5Application1.Business.Contracts/obj/Debug
/Mvc5Application1.Data/obj/Debug
/Mvc5Application1.Data.Contracts/obj/Debug
/Mvc5Application1.Data.Model/obj/Debug
/Mvc5Application1.Framework/obj/Debug
/Mvc5Application1.Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mvc5Application1.Framework/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Mvc5Application1.Framework/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Mvc5Application1.Framework/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Mvc5Application1.Infrastructure/obj/Debug
/Mvc5Application1.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Mvc5Application1.Infrastructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Mvc5Application1.Infrastructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Mvc5Application1.Infrastructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
