@Model UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Salary</td>
            <td>Birth date</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nguyen Viet</td>
            <td>Manh</td>
            <td>10000000</td>
            <td>25/6/1983</td>
        </tr>
    </tbody>
</table>